
@font-face {
    font-family: 'holberton_school-icon';
    src:  url('./icons/fonts/holberton_school-icon.eot?sq4eq4');
    src:  url('./icons/fonts/holberton_school-icon.eot?sq4eq4#iefix') format('embedded-opentype'),
      url('./icons/fonts/holberton_school-icon.ttf?sq4eq4') format('truetype'),
      url('./icons/fonts/holberton_school-icon.woff?sq4eq4') format('woff'),
      url('./icons/fonts/holberton_school-icon.svg?sq4eq4#holberton_school-icon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

:root{
    --purple-color: #C271FF;
    --blue-color: #071629;
    --green-color: #82D24F;
    --black-color: #071629;
    --white-color:#FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
body{
    width: 100%;
    min-width: 356px;
}

.navBtn svg{
    cursor: pointer;
}

.menuAndLogo{
    display:flex;
    align-items: center;
    max-height: 100px;
}

#btnMenu{
    display:none;
}

.hero{
    background:url("IMAGES/pic_1.jpg")center/cover;
    width: 100%;
    background-repeat: no-repeat;
}


.containerLogo {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
    height: 70px;
}

.containerLogo .img1{
    width:40%;
    height: 100%;
    padding-bottom: 15px;
}
.containerLogo .img2{
    width:100%;
    height: 45%;
}

.navList{
    display: none;
}

#btnMenu:checked ~ .navList{
    display: flex;
    justify-content:center ;
}

.navList ul{
    list-style: none;
    margin-top: 30px;

}


.navList li{
    padding:10px;
    text-align: center;
}

.navList li a{
    text-decoration: none;
    color:var(--white-color);
    font-size:13px;
}


.contentHero h2{
    text-align: center;
    font-size: 60px;
    color: var(--white-color);
}

.button{
    display:flex;
    justify-content: center;

}
.button a{
    background-color: var(--purple-color);
    margin-left: auto;
    margin-right: auto;
}

.optionHero2 p{
    font-size: 13px;
    padding:8px;
    color: var(--white-color);
}

.part2hero{
    margin-top: 90px;
    display:flex;
    justify-content: center;
}

.part2hero .span1{
    color: var(--purple-color);
    font-weight:bold;
    font-size: 30px;
}

.part2hero .span2{
    font-weight:bold;
    font-size: 30px;
}

.perfiles{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: 5% ;
    
}

.perfilPersonas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    width:80%;
    top:0;
}

.perfilPersonas img{
    width: 100%;
    border-radius: 100%;
}

.perfilPersonas .name{
    font-size: 15px;
    text-align: center;
    color: var(--white-color);
}

.perfilPersonas .fecha{
    font-size: 10px;
    text-align: center;
    color: var(--white-color);
}


@media (min-width:600px) {
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navBtn{
        display: none;
    }
    .navList{
        display: block;
        margin-top: -12px;
    }
    .navList ul{
        display: flex;
        flex-direction: row;
    }
    .containerLogo {
        margin: auto;
        display: flex;
        flex-direction: row; 
        align-items: center;
        width:auto;
        height: 50px;
        align-items: center;
        margin-left:0px;
        margin-right: auto;
    }

    .containerLogo .img1{
        width:40%;
        height: 100%;
        padding-bottom: 15px;
    }
    .containerLogo .img2{
        width:100%;
        height:100%;
    }

    .perfiles{
        display:grid;
        grid-template-columns: repeat(4,1fr);
        padding: 5% ;
        
    }
}

.carruselItems{
    background-color: #C271FF;
    padding:2% 15%;
    transition:all 0.3s ease;
}



.title{
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.title span{
    color:#C271FF ;
}

.membership{
    background-color: #071629;
   
}


.membership a{
    margin-bottom: 5%;
    background-color: #C271FF;
}


.members{
    text-align: center;
    color:#fff;
}

footer{
    background-color: #071629;
    width: 100%;
}

.logoFooter{
    margin:15px;
}

.redesFooter  div{
    padding:15px;
}

.div-logo-redes{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;
}


@media (max-width:600px){
    .div-logo-redes{
        display:flex;
        justify-content: center;
    }
}




/*--------- Section pricing -------
----------------------------------------------------------------------*/

.heroPricing{
    top:0;
    background:url("IMAGES/pic_2.jpg")center/cover;
    width: 100%;
    background-repeat: no-repeat;
}


.purple-color{
    background-color:var(--purple-color);
}

.holberton_school-icon-check:before {
    content: "\e905";
  }



  /*courses ----------------------------------------------------------
  ------------------------------------------------------------*/

.heroCourses{
    top:0;
    background:url("IMAGES/pic_3.jpg")center/cover;
    width: 100%;
    background-repeat: no-repeat;
}

.purple-color-letras{
    color:var(--purple-color);
}
